.App {
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  margin-bottom: 10em;
}

@media only screen and (max-width: 600px) {
  .App {width: 40em;}
  .App-header {font-size: 12px;}
  .App-header h3 {font-size: 18px;}
  .Section-title {font-size: 16px;}
  .Bold-item {font-size: 14px;}
  .Education-year {font-size: 12px;}
  .App li {font-size: 12px;}
  .Content-ref {font-size: 12px;}
}

.App-header {
  display: flex;
  margin-top: 3em;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  color: black;
}

.App-header h3 {
  margin-bottom: 0;
  font-size: 21px;
}

.Contact {
  margin-top: -1em;
  margin-bottom: -1em;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.Contact div {
  margin-left: 2em;
  margin-right: 2em;
}

.Link {
  color: #07232b;
}

.Desc {
  margin-bottom: 0em;
  text-align: justify;
  text-align-last: center;
}

.Section-title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 0;
}

.Border {
  border-top: 2px solid black;
}

.Bold-item {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}

.Education-year {
  margin-top: -1em;
  margin-bottom: -1em;
  font-size: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Content {
  font-size: 15px;
  margin-top: 0em;
}

.Education-cert {
  margin-top: -2em;
  margin-right: 3em;
  font-size: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App li {
  font-size: 15px;
}

.Content-ref {
  font-size: 15px;
  margin-top: 0em;
  margin-bottom: 0em;
}